services:
    paypal_web_checkout.routes.loader:
        class: %paypal_web_checkout.routes.loader.class%
        arguments:
            paypal_web_checkout.controller.route.name: %paypal_web_checkout.controller.route.name%
            paypal_web_checkout.controller.route: %paypal_web_checkout.controller.route%
            paypal_web_checkout.process.route.name: %paypal_web_checkout.process.route.name%
            paypal_web_checkout.process.route: %paypal_web_checkout.process.route%
        tags:
            - { name: routing.loader }

    paypal_web_checkout.manager:
        class: %paypal_web_checkout.manager.class%
        arguments:
            payment.event.dispatcher: @payment.event.dispatcher
            payment.bridge: @payment.bridge
            payment.form.wrapper: @paypal_web_checkout.wrapper

    paypal_web_checkout.wrapper:
        class: %paypal_web_checkout.wrapper.class%
        arguments:
            form.factory: @form.factory
            payment.bridge: @payment.bridge
            router: @router
            business: %paypal_web_checkout.business%
            paypal_url: %paypal_web_checkout.api_endpoint%
            return_url: %paypal_web_checkout.success.route.name%
            cancel_return_url: %paypal_web_checkout.fail.route.name%
            notify_url: %paypal_web_checkout.process.route.name%
            debug: %paypal_web_checkout.debug%
