<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {{ form_start(paypal_form) }}
        <input type="hidden" name="lc" value="{{ app.request.locale }}">
    {{ form_end(paypal_form) }}

    <script language="JavaScript" type="text/javascript">

        var form = document.forms[0];
        //form.submit();

    </script>
</body>
</html>
